<div class='container'>
  <div class="profile-header">
    <h1 class="small-title mt-4"><%="#{@user.first_name} #{@user.last_name}'s Profile"%></h1>
    <img src=<%=@user.photo_url%> alt="Profile photo" class="profile-photo">
</div>

<%# Listing info %>
  <div class="row mt-4 pb-4">
    <div class="col-lg-12">
      <div class="card-trip line-break">
      </div>
      <div class="card-trip mt-4">
        <div class="d-flex justify-content-between align-items-start">
          <h2> About <%= @user.first_name %>:</h2>
          <%=  link_to "Add a Listing", new_shorty_path, class: "btn btn-primary mr-2 rounded-2"%>
        </div>
        <p class="line-break pb-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus delectus suscipit totam animi modi dolorem fugit? Sapiente, pariatur eum minus, fugiat magni unde</p>
      </div>
    </div>


  <%# Display a user's shorty listings IF they exist %>
  <% if @user.shorties.size.positive? %>
    <% if @user == current_user %>
      <h2 class="smaller-title mt-4 title-spacing">Active listings:</h2>
    <% else %>
      <h2 class="smaller-title mt-4"><%= @user.first_name%>'s current listings:</h2>
    <% end %>
    <div class='row'>
      <% @user.shorties.each do |shorty| %>
        <div class='col col-sm-6'>
          <div class="card-product mt-4 d-flex flex-column">
              <% if shorty.photo_url %>
                <img src= <%= shorty.photo_url %> />
              <% elsif !shorty.photos.empty? %>
                <%# <% shorty.photos.each do |photo| %>
                    <%= cl_image_tag shorty.photos[0].key, height: 300, width: 400, crop: :fill %>
                  <%# <% end %>
                <%# <%= cl_image_tag shorty.photo.key, height: 300, width: 400, crop: :fill %>
              <% else %>
                <img src= "https://i.scdn.co/image/ab67616d0000b273b3f33290e08fcb3ae9b39754" class="w-100"/>
              <% end %>
            <div class="card-product-infos d-flex justify-contents-between">
              <div class="d-flex flex-column align-items-between m-2">
                <h2><%= link_to shorty.name, shorty_path(shorty) %></h2>
                <p class="mt-0"><%= shorty.height  %>cm</p>
                <h3 class="m-0 pt-2 pb-2 card-trip-pricing">$<%= shorty.price %>/day</h3>
                <p class="mt-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod dignissimos reiciendis atque</p>
              </div>
              <% if current_user == @user %>
                <div class="d-flex flex-column align-items-between justify-content-center">
                  <%= link_to "Edit", edit_shorties_path(shorty), class: "btn btn-primary m-2" %>
                  <%= link_to "Delete", shorty_path(shorty), method: :delete, class: "btn btn-primary m-2" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="card-trip line-break"></div>
    </div>
  <% end %>

  <%# Display current user's pending requests if they exist %>
  <% if @pending_requests.size.positive? %>
    <h2 class="smaller-title mt-4 title-spacing">Pending listings:</h2>
      <div class='row'>
        <% @user.shorties.each do |shorty| %>
          <% shorty.bookings.each do |booking| %>
          <% if booking.pending? %>
            <div class='col col-sm-6'>
              <div class="card-product mt-4 d-flex flex-column">
                  <% if shorty.photo_url %>
                    <img src= <%= shorty.photo_url %> />
                  <% elsif !shorty.photos.empty? %>
                    <%# <% shorty.photos.each do |photo| %>
                      <%= cl_image_tag shorty.photos[0].key, height: 300, width: 400, crop: :fill %>
                    <%# <% end %>
                    <%# <%= cl_image_tag shorty.photo.key, height: 300, width: 400, crop: :fill %>
                  <% else %>
                    <img src= "https://i.scdn.co/image/ab67616d0000b273b3f33290e08fcb3ae9b39754" class="w-100"/>
                  <% end %>
                <div class="card-product-infos d-flex justify-contents-between">
                  <div class="d-flex flex-column align-items-between m-2">
                    <h2><%= link_to shorty.name, shorty_path(shorty) %></h2>
                    <p class="mt-0"><%= shorty.height  %>cm</p>
                    <h3 class="m-0 pt-2 pb-2 card-trip-pricing">$<%= shorty.price %>/day</h3>
                    <p class="mt-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod dignissimos reiciendis atque</p>
                    <% shorty.bookings.each do |booking| %>
                      <% if booking.start_date %>
                        <div class="d-flex mt-2">
                          <i class="fa-solid fa-calendar-days"></i>
                          <h2 class="date-text">Start Date: <%= booking.start_date.strftime("%B %d, %Y") %> </h2>
                          <i class="fa-solid fa-calendar-days end-date"></i>
                          <h2 class="date-text">End Date: <%= booking.end_date.strftime("%B %d, %Y") %></h2>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="d-flex flex-column align-items-between justify-content-center">
                    <%= link_to "Edit", edit_shorties_path(shorty), class: "btn btn-primary m-2" %>
                    <%= link_to "Delete", shorty_path(shorty), method: :delete, class: "btn btn-primary m-2" %>
                  </div>
                  <div class="d-flex flex-column align-items-between justify-content-center">
                    <%= simple_form_for shorty.bookings[0] do |f| %>
                      <%= f.input :status, priority: ["Pending"], collection: ["Confirmed", "Archived"], label_html:{hidden: true}%>
                      <%= f.submit "Submit", class:"btn btn-success w-100"%>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <% end %>
        <% end %>
      <div class="card-trip line-break"></div>
    </div>
  <% end %>

  <%# Display current user's confirmed requests IF they exist %>
  <% if @confirmed_requests.size.positive? %>
    <h2 class="smaller-title mt-4 title-spacing">Confirmed listings:</h2>
      <div class='row'>
        <% @user.shorties.each do |shorty| %>
          <div class='col col-sm-6'>
            <div class="card-product mt-4 d-flex flex-column">
              <% if shorty.photo_url %>
                <img src= <%= shorty.photo_url %> />
              <% else %>
                <img src= "https://i.scdn.co/image/ab67616d0000b273b3f33290e08fcb3ae9b39754" class="w-100"/>
              <% end %>
            <div class="card-product-infos d-flex justify-contents-between">
              <div class="d-flex flex-column align-items-between m-2">
                <h2><%= link_to shorty.name, shorty_path(shorty) %></h2>
                <%# <p class="mt-0">Booked by <%= link_to "#{shorty.bookings[0].user.first_name} #{shorty.bookings[0].user.last_name}" , user_path(shorty.bookings[0].user)%>
                <p class="mt-0"><%= shorty.height  %>cm</p>
                <h3 class="m-0 pt-2 pb-2 card-trip-pricing">$<%= shorty.price %>/day</h3>
                <p class="mt-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod dignissimos reiciendis atque</p>
              <% shorty.bookings.each do |booking| %>
                <% if booking.start_date %>
                  <div class="d-flex mt-2">
                    <i class="fa-solid fa-calendar-days"></i>
                    <h2 class="date-text">Start Date: <%= booking.start_date.strftime("%B %d, %Y") %> </h2>
                    <i class="fa-solid fa-calendar-days end-date"></i>
                    <h2 class="date-text">End Date: <%= booking.end_date.strftime("%B %d, %Y") %></h2>
                  </div>
                <% end %>
              <% end %>
            </div>
            <div class="d-flex flex-column align-items-between justify-content-center">
              <%= link_to "Edit", edit_shorties_path(shorty), class: "btn btn-primary m-2" %>
              <%= link_to "Delete", shorty_path(shorty), method: :delete, class: "btn btn-primary m-2" %>
              <div class="d-flex flex-column align-items-between">
                <%= link_to "Confirmed", booking_path(shorty), class: "btn btn-success m-2" %>
              </div>
            </div>
              </div>
            </div>
          </div>
        <% end %>
      <div class="card-trip line-break"></div>
  <% end %>

  <%# Display a user's shorties booked IF they exist %>
  <% if @user.bookings.length >= 1 && @user == current_user %>
    <h2 class="smaller-title mt-4 title-spacing">My bookings:</h2>
    <div class='row'>
      <% @my_client_bookings.each do |booking| %>
        <div class='col col-sm-6'>
          <div class="card-product mt-4 d-flex flex-column">
            <% if booking.shorty.photo_url %>
              <img src= <%= booking.shorty.photo_url %> />
            <% else %>
              <img src= "https://i.scdn.co/image/ab67616d0000b273b3f33290e08fcb3ae9b39754" />
            <% end %>
              <div class="card-product-infos d-flex justify-contents-between">
                <div class="d-flex flex-column align-items-between m-2">
                  <h2><%= link_to booking.shorty.name, shorty_path(booking.shorty) %></h2>
                  <p class="mt-0"><%= booking.shorty.height  %>cm</p>
                  <h2 class="m-0 pt-2 pb-2 card-trip-pricing">$<%= booking.shorty.price %>/day</h3>
                  <p class="mt-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod dignissimos reiciendis atque</p>
                  <% if booking.start_date %>
                    <div class="d-flex mt-2">
                      <i class="fa-solid fa-calendar-days"></i>
                      <h2 class="date-text">Start Date: <%= booking.start_date.strftime("%B %d, %Y") %> </h2>
                      <i class="fa-solid fa-calendar-days end-date"></i>
                      <h2 class="date-text">End Date: <%= booking.end_date.strftime("%B %d, %Y") %></h2>
                    </div>
                  <% end %>
                </div>
                <div class="d-flex flex-column align-items-between">
                  <% if booking.pending? %>
                    <%= link_to "Pending", booking_path(booking.shorty), class: "btn btn-warning m-2" %>
                  <% end %>
                  <%  if booking.confirmed? %>
                    <%= link_to "Confirmed", booking_path(booking.shorty), class: "btn btn-success m-2" %>
                  <% end %>
                  <%  if booking.archived? %>
                    <%= link_to "Archived", booking_path(booking.shorty), class: "btn btn-ghost m-2" %>
                  <% end %>
                </div>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
