<div class="container form my-5">
  <h1>New Shortie</h1>
  <%= simple_form_for(@shorty) do |f| %>
    <%= f.input :name %>
    <%= f.input :height %>
    <%= f.input :price %>
    <%= f.input :description %>
    <div class='d-flex justify-content-between pt-4'>
      <p class='m-0'><%= f.submit "Create Shortie", class: "btn btn-primary" %></p>
    </div>
  <% end %>
  <br>
</div>
