<div class="container">
  <div class="mt-4 mb-3">
    <h1 class="small-title mt-4"><%= @shorty.name %></h1>
    <p class="mb-2"><%=@shorty.height %> cm</p>
  </div>

  <%# Photo gallery %>
  <div class="gallery-container">
    <div class="row">
      <div class="col-lg-8 mt-2 mb-2">
        <img
          src="<%= cl_image_path(@shorty.photos[0].key) %>"
          alt="Table Full of Spices"
          class=" shadow-1-strong rounded-3 gallery-container image"
        />
        <%# <%= cl_image_tag @shorty.photos[0].key, height: 300, width: 400, crop: :fill %>

      </div>
      <div class="col-lg-4 col-md-12 mb-4 mt-2 mb-lg-0 d-flex flex-column gallery-container">
        <img
          src="<%= cl_image_path(@shorty.photos[1].key) %>"
          class="w-100 h-25 d-inline-block shadow-1-strong rounded-3 mb-4 image"
          alt="Boat on Calm Water"
        />
        <%# <%= cl_image_tag @shorty.photos[1].key, height: 300, width: 400, crop: :fill %>
        <img
          src="<%= cl_image_path(@shorty.photos[2].key) %>"
          class="w-100 h-75 shadow-1-strong rounded-3 image overflow-hidden"
          alt="Wintry Mountain Landscape"
        />
        <%# <%= cl_image_tag @shorty.photos[2].key, height: 300, width: 400, crop: :fill %>

      </div>
    </div>
  </div>

  <%# Listing info %>
  <div class="row mt-4">
    <div class="col-lg-8">
      <div class="card-trip line-break">
        <div class="card-trip-infos">
          <div class="d-flex justify-content-row align-items-center">
            <img src= <%= @shorty.user.photo_url %> class="card-trip-user avatar-bordered" />
            <h2>Offered by <%= link_to @shorty.user.first_name, user_path(@shorty.user)%></h2>
          </div>
          <h2 class="card-trip-pricing d-flex align-self-center ">$<%=@shorty.price %> per day</h2>
        </div>
      </div>
      <div class="card-trip mt-4">
       <h2> About <%= @shorty.name %>:</h2>
          <p class="line-break pb-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus delectus suscipit totam animi modi dolorem fugit? Sapiente, pariatur eum minus, fugiat magni unde, rem deleniti voluptatum illo deserunt expedita dolor!</p>
      </div>
      <div class="card-trip line-break">
        <h2> What this shorty offers:</h2>
        <div class="row">
          <div class="col-lg-6">
            <p class="line-break pb-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus delectus suscipit totam animi modi dolorem fugit? Sapiente, pariatur eum minus, fugiat magni unde, rem deleniti voluptatum illo deserunt expedita dolor!</p>
          </div>
          <div class="col-lg-6">
            <p class="line-break pb-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus delectus suscipit totam animi modi dolorem fugit? Sapiente, pariatur eum minus, fugiat magni unde, rem deleniti voluptatum illo deserunt expedita dolor!</p>
          </div>
        </div>
      </div>
    </div>

    <%# Book now card %>
    <div class="col-lg-4 ">
      <div class="card mb-2 book-now bg-body overflow-hidden w-100">
        <div class="card-body">
          <div class="d-flex justify-content-between text-center">
              <div class="me-2 w-100">
                <%= simple_form_for [@shorty, @booking] do |f| %>
                  <%# <%= f.input :username %>
                  <%= f.input :start_date, as: :date, html5: true %>
                  <%= f.input :end_date, as: :date, html5: true %>
                  <%= f.button :submit, label: "Book now", class: "btn btn-primary" %>
                <% end %>
                <%# <%= link_to "Book now", create_booking_path(@shorty), class:"btn btn-primary" %>
              </div>
          </div>
        </div>
      </div>
        <div class="map-shorty"style="width: 100%; height: 300px;"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
    </div>

    <%# Additional info %>
    <div class="col-lg-8">
    </div>

    <%# Put further left-side columns here %>

    <%# Mapbox %>

  </div>
</div>


<%#
  <div class="row">
    <div class="d-flex justify-content-between photos-container">
      <div class="col col-sm-6">
        <img src="https://www.insidehook.com/wp-content/uploads/2021/07/Danny-DeVito-e1627433269130.jpg?fit=1200%2C800" alt="Large photo of shorty">
      </div>
      <div class="col col-sm-3 image-tile-sm">
        <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F9%2F2018%2F01%2Fmms-super-bowl-ad-danny-devito-ft-blog0118.jpg&q=60" alt="Small photo of shorty">
        <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F9%2F2018%2F01%2Fmms-super-bowl-ad-danny-devito-ft-blog0118.jpg&q=60" alt="Small phto of shorty">
      </div>
      <div class="col col-sm-3 image-tile-sm">
        <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F9%2F2018%2F01%2Fmms-super-bowl-ad-danny-devito-ft-blog0118.jpg&q=60" alt="Small phto of shorty">
        <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F9%2F2018%2F01%2Fmms-super-bowl-ad-danny-devito-ft-blog0118.jpg&q=60" alt="Small photo of shorty">
      </div>
    </div>
  </div>
 %>
